@using SFA.DAS.Provider.PR.Web.Constants
@using SFA.DAS.Provider.PR.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SFA.DAS.Provider.PR.Web.Models.AddEmployer.PermissionDescriptionsViewModel

<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    Add apprentice records
</legend>
<div id="addRecords-hint" class="govuk-hint">
    You can add details about new apprentices and reserve funding for them if
    needed. The employer will have final review of apprentice records.
</div>
<div esfa-validation-marker-for="@Model.PermissionToAddCohorts" class="govuk-form-group">
    <span asp-validation-for="PermissionToAddCohorts" class="govuk-error-message"></span>
    <div class="govuk-radios" id="PermissionToAddCohorts" data-module="govuk-radios">
        <div class="govuk-radios__item">
            <input asp-for="PermissionToAddCohorts" class="govuk-radios__input" id="addRecords-1" type="radio" value="@SetPermissions.AddRecords.Yes">
            <label class="govuk-label govuk-radios__label" for="addRecords-1">
                Yes, employer will have final review of apprentice records
            </label>
        </div>
        <div class="govuk-radios__item">
            <input asp-for="PermissionToAddCohorts" class="govuk-radios__input" id="addRecords-2" type="radio" value="@SetPermissions.AddRecords.No">
            <label class="govuk-label govuk-radios__label" for="addRecords-2">
                No
            </label>
        </div>
    </div>
</div>
<br />
<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    Recruit apprentices
</legend>
<div id="recruitApprentices-hint" class="govuk-hint">
    You can advertise apprenticeships and review applications on the employer's behalf.
</div>
<div esfa-validation-marker-for="@Model.PermissionToRecruit" class="govuk-form-group">
    <span asp-validation-for="PermissionToRecruit" class="govuk-error-message"></span>
    <div class="govuk-radios" id="PermissionToRecruit" data-module="govuk-radios">
        <div class="govuk-radios__item">
            <input asp-for="PermissionToRecruit" class="govuk-radios__input" id="recruitApprentices-1" type="radio" value="@SetPermissions.RecruitApprentices.Yes">
            <label class="govuk-label govuk-radios__label" for="recruitApprentices-1">
                Yes
            </label>
        </div>
        <div class="govuk-radios__item">
            <input asp-for="PermissionToRecruit" class="govuk-radios__input" id="recruitApprentices-2" type="radio" value="@SetPermissions.RecruitApprentices.YesWithReview">
            <label class="govuk-label govuk-radios__label" for="recruitApprentices-2">
                Yes, employer will review adverts before they're advertised
            </label>
        </div>
        <div class="govuk-radios__item">
            <input asp-for="PermissionToRecruit" class="govuk-radios__input" id="recruitApprentices-3" type="radio" value="@SetPermissions.RecruitApprentices.No">
            <label class="govuk-label govuk-radios__label" for="recruitApprentices-3">
                No
            </label>
        </div>
    </div>
</div>